## 4. Data Inspection and Summarization

- **Head and Tail**: `head()`, `tail()`
- **Info**: `info()`
- **Description**: `describe()`
- **Shape and Size**: `shape`, `size`

In [1]:
import pandas as pd

df = pd.read_csv('data_dictionary.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Table        65 non-null     object
 1   Field        60 non-null     object
 2   Description  65 non-null     object
dtypes: object(3)
memory usage: 1.7+ KB

In [2]:
df.head()

        Table    Field                                        Description
0  encounters      NaN                             Patient encounter data
1  encounters       Id   Primary Key. Unique Identifier of the encounter.
2  encounters    Start  The date and time (iso8601 UTC Date (yyyy-MM-d...
3  encounters     Stop  The date and time (iso8601 UTC Date (yyyy-MM-d...
4  encounters  Patient                        Foreign key to the Patient.

In [3]:
df.tail()

,Table,Field,Description
60,procedures,Code,Procedure code from SNOMED-CT
61,procedures,Description,Description of the procedure.
62,procedures,Base_Cost,The line item cost of the procedure.
63,procedures,ReasonCode,Diagnosis code from SNOMED-CT specifying why t...
64,procedures,ReasonDescription,Description of the reason code.

In [4]:
df.describe()

           Table Field                  Description
count         65    60                           65
unique         5    40                           60
top     patients    Id  Foreign key to the Patient.
freq          23     4                            2

In [9]:
# first found that the category is just four types
# then change the data type into the pandas.CategoricalDtype
cate = pd.CategoricalDtype(df['Table'].unique())
df['Table'] = df['Table'].astype(cate)

In [14]:
df.shape, df.size

((65, 3), 195)

In [18]:
# grouping the data use the category
grouped_data = df.groupby('Table', observed=True)['Field'].value_counts()

In [19]:
grouped_data

Table          Field
encounters     Base_Encounter_Cost    1
               Code                   1
               Description            1
               EncounterClass         1
               Id                     1
               Organization           1
               Patient                1
               Payer                  1
               Payer_Coverage         1
               ReasonCode             1
               ReasonDescription      1
               Start                  1
               Stop                   1
               Total_Claim_Cost       1
organizations  Address                1
               City                   1
               Id                     1
               Lat                    1
               Lon                    1
               Name                   1
               State                  1
               Zip                    1
patients       Address                1
               BirthDate              1
               BirthPlace             1
               City                   1
               County                 1
               DeathDate              1
               Ethnicity              1
               FIPS County Code       1
               First                  1
               Gender                 1
               Id                     1
               Last                   1
               Lat                    1
               Lon                    1
               Maiden                 1
               Marital                1
               Middle                 1
               Prefix                 1
               Race                   1
               State                  1
               Suffix                 1
               Zip                    1
payers         Address                1
               City                   1
               Id                     1
               Name                   1
               Phone                  1
               State_Headquartered    1
               Zip                    1
procedures     Base_Cost              1
               Code                   1
               Description            1
               Encounter              1
               Patient                1
               ReasonCode             1
               ReasonDescription      1
               Start                  1
               Stop                   1
Name: count, dtype: int64